.index-body {
  background-color: #363a3d;
  color: white;

  nav {
    background-color: #ffd33a;
    padding: 0.4rem;

    .contact-col {
      margin: auto;
    }
  }
}

// Styling bestand

.navbar-dark {
    background-color: #343a40!important;
    color: white;
}
.bd-highlight{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.car-info{
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}
